@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;

  --bar-width: 20px;
  --bar-height: 2px;
  --hamburger-gap: 4px;
  --foreground: rgb(255, 255, 255);
  --background: rgba(0, 0, 0, 0.807);
  --hamburger-margin: 20px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay--disable {
  pointer-events: none;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  transition: opacity 2s ease-in-out;
}

.loader--disappear {
  opacity: 0;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.logo {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 800;
  color: white;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 50vh;
  animation: fadeUp 2.4s ease-in-out;
  transition: all 2s ease-in-out;
}

.intro--disappear .logo {
  top: 20px;
  transform: scale(0.25);
  transform-origin: center top;
  transition: all 1s ease-in-out;
}

.intro__scroll {
  opacity: 0;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  position: absolute;
  top: 10vh;
}

.intro--disappear .intro__scroll {
  animation: fadeIn 1s ease-in-out 1.5s forwards;
}

.overlay--scrolled .intro__scroll {
  animation: fadeOut 1s ease-in-out forwards;
}

.card {
  width: 700px;
  height: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -120%);

  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.card-text {
  font-family: 'Nanum Myeongjo', serif;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 0;
  margin: 5px 0;
}

.explore {
  padding: 1rem 2rem;
  border: none;
  font-family: "DM Serif Display", serif;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  color: #3b93b0;
  border: 1px solid white;
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  margin-top: 320px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.42s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
  opacity: 0;
}

.explore:hover {
  color: white;
}

.explore:hover:before {
  width: 200%;
  height: 300%;
  border-radius: 100%;
}

.explore:before {
  content: "";
  background: #3b93b0;
  border: white;
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 50%;
  height: 0%;
  transition: 0.42s ease-in-out;
  z-index: -1;
  transform: translateX(-50%) translateY(50%);
}

.intro--disappear .explore {
  animation: fadeOut 1s ease-in-out forwards;
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;

  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: black;
  --background: white;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform var(--animation-timing);
  padding: 0.5rem 1rem;
  /* padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem); */
  background-color: var(--foreground);
  color: var(--background);
  min-width: 100vw;
  max-height: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sidebar-item {
  font-family: 'Nanum Myeongjo', serif;
  margin: 20px;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.15rem;
  cursor: pointer;
}

.hamburger-menu:has(input:checked)+.sidebar {
  transform: translateY(0);
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {

  .logo {
    font-size: 3rem;
    letter-spacing: 0.25rem;
  }

  .intro--disappear .logo {
    top: 24px;
    transform: scale(0.5);
    transform-origin: center top;
  }

  .card {
    width: 480px;
  }
}

/* ANIMATIONS */

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(9px);
  }

  100% {
    opacity: 1;
    filter: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}